body {
  background-image: url('./brooke-lark--F_5g8EEHYE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container {
background-color: grey;
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 600px;
height: 725;
border-radius: 40px;
color: white;
}
form {
display: flex;
flex-direction: column;
padding: 20px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
#btn1 {
background-color: rgb(153, 153, 220);
border: none;
border-radius: 10px;
padding: 5px;
}
#calculate {
  background-color: rgb(153, 153, 220);
  border: none;
  border-radius: 10px;
  padding: 5px;
  }